In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Data=pd.read_csv('Final_data.csv')

In [3]:
Data

,Unnamed: 0,SeniorCitizen,Partner,Dependents,tenure,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,Yes,No,1,No phone service,No,Yes,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,0,No,No,34,No,Yes,No,Yes,No,One year,No,Mailed check,56.95,1889.50,No
2,2,0,No,No,2,No,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,0,No,No,45,No phone service,Yes,No,Yes,Yes,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,0,No,No,2,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10343,10343,1,No,No,4,No,No,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),99.80,442.85,Yes
10344,10344,0,No,No,1,Yes,No,No,Yes,No,Month-to-month,Yes,Electronic check,101.45,101.45,Yes
10345,10345,0,No,No,3,No,No,No,No,No,Month-to-month,Yes,Electronic check,45.35,141.50,Yes
10346,10346,1,No,No,2,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,93.85,170.85,Yes
10347,10347,0,Yes,No,10,No,No,No,No,No,Month-to-month,Yes,Electronic check,79.95,857.20,Yes

In [4]:
Data= Data.drop("Unnamed: 0",axis=1)

In [5]:
Data

,SeniorCitizen,Partner,Dependents,tenure,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,No phone service,No,Yes,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,0,No,No,34,No,Yes,No,Yes,No,One year,No,Mailed check,56.95,1889.50,No
2,0,No,No,2,No,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,0,No,No,45,No phone service,Yes,No,Yes,Yes,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,0,No,No,2,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10343,1,No,No,4,No,No,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),99.80,442.85,Yes
10344,0,No,No,1,Yes,No,No,Yes,No,Month-to-month,Yes,Electronic check,101.45,101.45,Yes
10345,0,No,No,3,No,No,No,No,No,Month-to-month,Yes,Electronic check,45.35,141.50,Yes
10346,1,No,No,2,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,93.85,170.85,Yes
10347,0,Yes,No,10,No,No,No,No,No,Month-to-month,Yes,Electronic check,79.95,857.20,Yes

# Label Encoder

In [6]:
col = Data.loc[:,Data.dtypes==object].columns

from sklearn.preprocessing import LabelEncoder
for i in col:
    le = LabelEncoder()
    Data[i] = le.fit_transform(Data[i])

In [7]:
# Feature & Target

In [8]:
X = Data.drop("Churn",axis=1)
y = Data["Churn"]

# Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(X)

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [11]:
from sklearn.model_selection import KFold,cross_val_score
fold = KFold(n_splits=10)

In [12]:
result = cross_val_score(model,x,y,cv=fold)

In [13]:
result.mean()

0.7416913819041479

In [14]:
result.std()

0.021423543010032995

In [15]:
result.min(),result.max()

(0.7072463768115942, 0.7768115942028986)

# K-Fold Testing with all algorithm

SVM
Random Forest
XGBoosting
KNN
Naive Bayes

In [16]:
estimates = []

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier

In [17]:
est = []

est.append(("Logistic Regression",LogisticRegression()))
est.append(("KNN",KNeighborsClassifier()))
est.append(("SVM",SVC()))
est.append(("NB",GaussianNB()))
est.append(("RF",RandomForestClassifier()))
est.append(("Boosting",XGBClassifier()))

In [18]:
est

[('Logistic Regression', LogisticRegression()),
 ('KNN', KNeighborsClassifier()),
 ('SVM', SVC()),
 ('NB', GaussianNB()),
 ('RF', RandomForestClassifier()),
 ('Boosting',
  XGBClassifier(base_score=None, booster=None, callbacks=None,
                colsample_bylevel=None, colsample_bynode=None,
                colsample_bytree=None, early_stopping_rounds=None,
                enable_categorical=False, eval_metric=None, gamma=None,
                gpu_id=None, grow_policy=None, importance_type=None,
                interaction_constraints=None, learning_rate=None, max_bin=None,
                max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
                max_leaves=None, min_child_weight=None, missing=nan,
                monotone_constraints=None, n_estimators=100, n_jobs=None,
                num_parallel_tree=None, predictor=None, random_state=None,
                reg_alpha=None, reg_lambda=None, ...))]

In [19]:
for i in range(len(est)):
    model = est[i][1]

    results = cross_val_score(model,x,y,cv=KFold(n_splits=10))

    avg = results.mean()
    sd = results.std()
    
    print("{} || avg: {} || std: {}".format(est[i][0], avg, sd))

Logistic Regression || avg: 0.7416913819041479 || std: 0.021423543010032995
KNN || avg: 0.7533982750726506 || std: 0.05933456756750516
SVM || avg: 0.7479736308505966 || std: 0.02283318293286413
NB || avg: 0.7397659294144031 || std: 0.039490081847452015
RF || avg: 0.9070529532139153 || std: 0.0623148975221947
Boosting || avg: 0.8521612050196694 || std: 0.054604114045955054

# Select Final Algorithm

In [23]:
print("FInal Model is Random forest with avg:  0.905023313617208  || std: 0.06126279555220467")

FInal Model is Random forest with avg:  0.905023313617208  || std: 0.06126279555220467

# Hyperparameter Tuning for Final Algorithm

In [24]:
from sklearn.model_selection import GridSearchCV

In [27]:
param = {"n_estimators":[50,100,150,200],"criterion":['gini',"entropy"]}

model = RandomForestClassifier()

grid = GridSearchCV(model,param_grid=param,cv=KFold(n_splits=10))
grid_result = grid.fit(x,y)

In [28]:
grid_result.best_params_

{'criterion': 'gini', 'n_estimators': 50}

In [ ]:
grid_result.best_score_

# Final Algorithm with final Parameter with accuracy

In [ ]:
final_model = RandomForestClassifier(n_estimators=100,criterion="gini")
result = cross_val_score(final_model,x,y,cv=KFold(n_splits=10))
result.std()

In [ ]:
result.mean()

In [ ]:
result.min(),result.max()